@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Dosis:wght@200;300;400;500;600;700;800&family=Italianno&family=Kalam:wght@300;400;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Boilerplate*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    /*Color Scheme and Root font size*/
    --white: #fff;
    --black: #000000;
    --gold: #D7BE69;
    --blue: #144990;

    font-size: 16px;
}

/*Navbar Styling*/

/*Baad me dekhna*/
.landing-spot{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title{
    font-family: 'Playfair Display';
    color: white;
    font-size: 4.25rem;
}

.section-title::before,.section-title::after{
    content: '';
    background-color: white;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.section-title::before{
    right: 0.5em;
    margin-left: -50%;
}

.section-title::after{
    left: 0.5em;
    margin-right: -50%;
}
