.landing-spot{
    background-image: url('./Assets/gallery/anceintBgUsable.jpeg');
    background-position: center;  
    background-size: cover;
} 

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    overflow: hidden;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 2vh 0px 4vh 1vw;
    position: relative;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.card::before {
    /* border-radius: 20px; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

.card .info {
    align-items: center;
    position: relative;
    z-index: 3;
    color: white;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.main-gallery {
    margin: 8vh 3vw 8vh 3vw;
    display: grid;  
    gap: 1rem;
    grid-auto-rows: 300px;
}

@media screen and (min-width: 600px){
    .image-tall {
        grid-row: span 2 / auto;
    }

    .image-wide {
        grid-column: span 2 / auto ;
    }
}