.hero-spot{
    height: 100vh;
    background-image: url(./assets/home/lightTownSnow.jpg);
    background-size: cover;
    color: white;
}

.hero-spot-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-subtitle{
    font-size: max(3.125vw , 1.5em);
    font-family: 'Dancing Script', cursive;
}

.home-subtitle::before,.home-subtitle::after{
    content: '';
    background-color: white;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20vw;
}

.home-subtitle::before{
    right: 1rem;
    margin-left: -20vw;
}

.home-subtitle::after{
    left: 1rem;
    margin-right: -20vw;
}

.home-title{
    font-size: max(3.5vw , 2rem);
    font-family: 'Playfair Display', serif;
}