/*Hero Spot*/
.hero-spot{
    height: 100vh;
    background-image: url(./assets/home/lightTownSnow.jpg);
    background-size: cover;
    color: white;
    backdrop-filter: blur(10px);
}

/*Hero Spot Text*/
.hero-spot-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-subtitle{
    font-size: max(3.125vw , 1.5em);
    font-family: 'Dancing Script', cursive;
}

.home-subtitle::before,.home-subtitle::after{
    content: '';
    background-color: white;
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20vw;
}

.home-subtitle::before{
    right: 1rem;
    margin-left: -20vw;
}

.home-subtitle::after{
    left: 1rem;
    margin-right: -20vw;
}

.home-title{
    font-size: max(3.5vw , 2rem);
    font-family: 'Playfair Display', serif;
}

/*Hero Spot CTA*/
.cta-2{
    position: absolute;
    bottom: 8vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cta-2 a{
    text-decoration: none;
    color: white;
}

.cta-2 img{
    margin: 1vh 0;
    height: 4vh;
    animation: wave 1s linear infinite alternate;
}

@keyframes wave{
    0%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0);
    }
}

.cta-2:hover{
    text-shadow: 0 0 2px white;
}

.cta-2:hover img{
    filter: drop-shadow(0 0 2px white);
}

/*Story Sections*/
.story{
    height: 100vh;
}

/*Story Positioning*/
.story-grid{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

.story-text{
    grid-column: 5/13;
    grid-row: 3/23;
    border: 1px solid black;
    background-color: white;
    box-shadow: -20px 20px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    padding: 5vh 4vw 5vh 1vw;
    letter-spacing: 1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.story-image{
    grid-column: 12/21;
    grid-row: 2/24;
    border: 1px solid black;
    z-index: 1;
    background-position: center;
    background-size: cover;
}

#story-section-2 .story-text{
    grid-column: 13/21;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
}

#story-section-2 .story-image{
    grid-column: 5/14;
}

@media screen and (max-width: 960px){
    .story-grid{
        display: flex;
        flex-direction: column;
    }

    .ribbon{
        display: none;
    }

    .story-subtitle p{
        padding: 10rem;
    }
}

.ribbon{
    width: 5%;
    height: 100%;
    background-color: var(--gold);
    position: relative;
    top: -100%;
    left: 20%;
}

#story-section-2 .ribbon{
    left: 70%;
}

/*Story Text*/
#story-1-subheading{
    font-family: 'Italianno', cursive;
    font-size: 1.75rem;
    letter-spacing: 1px;
}

#story-1-heading{
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    margin: 2vh 0;
    font-size: 1.5rem;
    line-height: 2rem;
    padding-left: 1vw;
    border-left: 4px solid var(--gold);
    letter-spacing: 2px;
}

.story-heading{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    padding: 4vh 0;
}

.story-heading-line{
    margin: 0 2vw;
    width: 5vw;
    height: 2px;
    background-color: black;
}

.story-subtitle{
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
}

.story-subtitle p{
    padding: 1vh 0;
}

/*Story CTA*/
.story-cta a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #144990;
}

.story-cta a img{
    transition: all 0.25s linear;
    filter: invert(22%) sepia(52%) saturate(1838%) hue-rotate(192deg) brightness(98%) contrast(96%);
}

.story-cta:hover img{
    margin-left: 0.5rem;   
}

