body {
    background-color: #f5f5f5;
}

.landing-spot{
    background-image: url('./assets/hotels/landingSpotBG.jpg');
    background-position: center;  
    background-size: cover;
} 

/* hotel list */
.hotel-list{
    margin: 10vh 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hotel-list > .title{
    width: fit-content;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--gold);
    margin-bottom: 3rem;
}

.hotels-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( min(500px, 80vw), 1fr));
    gap: max(4vw, 6vh);
    width: 100%;
}

/* hotel card styling */
.hotel-card{
    background-color: white;
    box-shadow: 15px 15px 15px -4px rgba(0, 0, 0, 0.3);
}

.hotel-image{
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    transition: 0.25s ease-in-out;
    box-shadow: 0px -54px 44px 0px rgba(0,0,0,0) inset;
}

.hotel-image:hover{
    box-shadow: 0px -54px 44px 0px rgba(0,0,0,0.4) inset;
}

.hotel-image > .image-captions{
    color: white;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transition: inherit;
}

.hotel-image > .image-captions:hover{
    opacity: 1;
}

.hotel-details{
    display: flex;
    flex-direction: row;
    padding: 3rem 2rem;
    z-index: 10;
}

.hotel-details > .country{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    border-right: 4px solid var(--gold);
    letter-spacing: 1px;
    padding-right: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.hotel-details > .description{
    font-family: 'Dosis', sans-serif;
    padding-left: 1.5rem;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

/* responsiveness for cards */
@media screen and (max-width: 600px){
    .hotel-details{
        flex-direction: column;
    }

    .hotel-details > .country{
        border-right: 0px;
        border-bottom: 3px solid var(--gold);
        justify-content: center;
        padding-right: 0px;
        padding-bottom: 1rem;
        font-size: 1.7rem;
    }

    .hotel-details > .description{
        padding-left: 0px;
        padding-top: 1rem;
        font-size: 1rem;
    }
    
    .hotel-image > .image-captions{
        font-size: 1.2rem;
        opacity: 1;
    }

    .hotel-image{
        box-shadow: 0px -54px 44px 0px rgba(0,0,0,0.4) inset;
    }
}