.landing-spot {
    background-image: url('./assets/initiatives/landingSpotBG.jpg');
    background-position: center;
    background-size: cover;
}

/* common title styling */
.title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.5rem;
    padding-left: 1rem;
    letter-spacing: 1px;
    border-left: 4px solid var(--gold);
}

/* common body text styling */
.measure-text, .social-work .socialWork-container .text p, .program-details {
    font-size: 1.25rem;
    letter-spacing: 1px;
    font-family: 'Dosis', sans-serif;
}

/* styling for covid measures */
.covid19 {
    margin: 10vh 4vw;
}

.measures-container {
    margin-top: 5vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 60vw), 1fr));
    column-gap: 10vw;
    row-gap: 10vh;
}

.measure {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.measure-text {
    text-align: center;
    margin-top: 0.3rem;
}

.measure img {
    width: 40%;
}

/* styling for social initiatives */
.social-work {
    margin: 10vh 4vw;
}

.socialWork-container {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    justify-content: space-evenly;
    align-items: center;
}

.socialWork-container>.text {
    width: 30vw;
    padding: 1rem 0;
}

.socialWork-img{
    overflow: hidden;
}

.socialWork-container img {
    width: 35vw;
    max-width: 35vw;
    transition: all 0.25s linear;
}

.socialWork-container img:hover {
    transform: scale(1.2);
}

.socialWork-container .text p {
    margin-bottom: 2rem;
}

#text2 {
    order: 1;
}

#image2 {
    order: 0;
}

/* styling for membership programmes */
.membership {
    margin: 10vh 4vw;
}

.programs-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.program img {
    width: 80%;
}

.program-name {
    margin-top: 5vh;
    width: fit-content;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--gold);

}

.program-details {
    margin-top: 5vh;
    width: 30vw;
    padding: 1rem 0;
    text-align: center;
}

/* adding responsiveness to the page */
@media screen and (max-width: 888px) {
    .socialWork-container{
        flex-direction: column;
    }

    .socialWork-container>.text {
        width: 100%;
    }

    .socialWork-container img {
        width: 100%;
        margin-top: 1rem;
    }

    #text2 {
        order: 0;
    }

    #image2 {
        order: 1;
    }
    .programs-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }
    .program{
        margin-top: 10vh;
    }
    .program-details{
        width: 100%;
        text-align: center;
    }
}