.landing-spot{
    background-image: url('./Assets/RoomsAndAmbience/landingSpotBG.jpg');
    background-position: center center;  
    background-size: cover;
} 

/*Carousel Section*/
.sub-section-title{
    width: fit-content;
    margin: 2rem auto;
    font-size: 2.5rem;
    font-weight: 300;
    border-bottom: 3px solid var(--gold);
}

.carousel-container{
    width: 300%;
    height: 70vh;
    margin: 2rem;
}

.carousel-cell{
    width: 100%;
}