.landing-spot{
    background-image: url('./Assets/RoomsAndAmbience/landingSpotBG.jpg');
    background-position: center center;  
    background-size: cover;
} 

/*Carousel Section*/
.carousel-section-title{
    width: fit-content;
    margin: 2rem auto;
    font-size: 2.25rem;
    font-weight: 500;
    border-bottom: 4px solid var(--gold);
}

.carousel-container{
    display: flex;
    justify-content: space-between;
    width: 300vw;
    height: 500px;
    margin: 2rem 10vw;
}

.carousel-cell{
    width: 80vw;
    height: 100%;
}

